.location {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 5rem;
  margin: 1.25rem 0;
}
.lo_title {
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 700;
  letter-spacing: 2px;
}
.lo_h_sub_title {
  /* font-size: 1.25rem; */
  font-family: 'Khula', sans-serif;
  letter-spacing: 5px;
  color: gray;
}

.lo_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  border-left: solid 1px gray;
  padding-left: 1.25rem;
}

.lo_c_sub_title {
  font-size: 1.25rem;
  font-weight: 700;
}

.lo_para,
.lo_hrs {
  color: gray;
  font-size: 1rem;
}
.lo_c_t_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.lo_address {
  font-size: 1rem;
  font-weight: 700;
  transition: 0.25s ease-in-out;
}
.lo_address:hover {
  transform: scale(1.1) translateX(0.5rem);
  cursor: pointer;
}
.lo_pin {
  color: gray;
}
.lo_fp {
  font-size: 0.5rem;
  color: gray;
}
